* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.auth_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-58.36deg, #aca1f3 3.16%, #f9f8ff 32.73%);
}
.auth_container > section {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
section > h1 {
  font-size: 2.5rem;
  width: 70%;
}
section > a {
  width: 30vw;
}
.click_btn {
  width: 70%;
  padding: 0.6rem 0;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  background: #e90d0d;
  border-radius: 0.4rem;
}
@media screen and (max-width: 768px) {
  .auth_container > section {
    width: 80vw;
  }
  section > a {
    width: 60vw;
    text-align: center;
  }
}
